@using VBSteel.Shared

<div class="col-12 col-md-4 text-center">
	<img src="@($"data:image/{Product.ImageType};base64,{Convert.ToBase64String(Product.ImageData)}")" alt="@Product.Name">
	<div>@Product.Name</div>
	<a href="@($"/products/{Product.Name}")" class="btn btn-outline-secondary my-2">Zistiť viac</a>
</div>

@code {
	[Parameter]
	public ProductViewModel Product { get; set; }
}