.menu {
    background-color: #14213d; 
}

.menu .special-nav-item {
    color: #ffffff; 
}

.menu .special-nav-item:hover, .menu .special-nav-item.active {
    color: #fca311; 
}


.logo {
    width: 45px;
    height: 45px;
}

h1 {
    text-align: center;
    color: #262626; 
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    horiz-align: center;
}

.gray-back {
    background-color: #cccee0; 
}

.column-text p {
    padding-left: 20px;
    color: #262626; 
}

.bold {
    font-weight: bold;
}

.big-text {
    font-size: 20px;
    color: #262626; 
}

.aligned-text{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

::selection {
    background-color: #fca311; 
}

.menu .nav-item .nav-link.active {
    color: #fca311; 
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.stretch-content-fullscreen {
    flex: 1;
}

.error-visual-outer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(145deg, #c0c0c0, #9c9c9c);
    color: #333;
}

.error-title {
    font-size: 4rem;
    color: #4b4b4b;
}

.error-message {
    font-size: 1.5rem;
    margin-top: 20px;
}
.error-link {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-link:hover {
    background-color: #5a6268;
}

header, footer {
    flex-shrink: 0;
    background-color: #000000; 
    color: #ffffff; 
}

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top: 10vh;
}

.login-form {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 320px; 
    margin: 0 auto; 
}

.validation-message {
    color: red;
}

.image-container {
    width: 90%; 
    height: 250px; 
    overflow: hidden; 
    margin: 0 auto;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.loading-dots-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.dot {
    width: 16px;
    height: 16px;
    margin: 0 4px;
    background-color: #007bff;
    border-radius: 50%;
    animation: fade 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
    animation-delay: -0.32s;
}

.dot:nth-child(2) {
    animation-delay: -0.16s;
}

.no-overflow-x {
    overflow-x: hidden
}