@page "/o-nas"

<div class="gray-back">
	<div class="container py-5">
		<div class="row align-items-center">
			<div class="col-12 col-md-5 column-text ">
				<h1>O nás</h1>
				<p class="big-text">
					Naša spoločnosť vznikla s jediným cieľom - poskytovať najkvalitnejšie hutnícke materiály a služby zákazníkom z celého sveta. Sme hrdí na to, že sme sa stali dôveryhodným partnerom pre stavebné firmy, priemyselné podniky a remeselníkov, ktorí sa spoliehajú na kvalitu materiálov, ktoré ponúkame.
				</p>
			</div>
			<div class="col-12 col-md-7">
				<img src="images/hutnictvo1.jpg" alt="hutnictvo">
			</div>
		</div>
	</div>
</div>
<div>
	<div class="container py-5">
		<div class="row align-items-center">
			<div class="col-12 col-md-7 column-text ">
				<img src="images/material2.jpeg" alt="hutnictvo">
			</div>
			<div class="col-12 col-md-5">
				<h1>Prečo my?</h1>
				<p class="big-text">
					Pri nákupe hutníckych materiálov je dôveryhodnosť a kvalita neodmysliteľnou súčasťou. Naši dodávatelia sú starostlivo vybraní a známi svojou kvalitou a konzistentnosťou. Môžete sa spoľahnúť na to, že produkty, ktoré od nás získate, sú odolné voči korózii, extrémnym teplotám a iným náročným podmienkam.
				</p>
			</div>
		</div>
	</div>
</div>

@code {

}
