@page "/ucet"
@inject AuthenticationProvider AuthenticationProvider
@inject IJSRuntime JSRuntime
@using VBSteel.Shared
@using VBSteel.Client.Pages.Components

<div class="stretch-content-fullscreen no-overflow-x">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavSmall" aria-controls="navbarNavSmall" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon ml-5"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavSmall">
            <div class="navbar-nav">
                <button class="nav-item nav-link" @onclick='() => selectedComponent = "messages"'>Správy</button>
                <button class="nav-item nav-link" @onclick='() => selectedComponent = "favorites"'>Obľubené</button>
                @if (_userRole == UserRole.Admin)
                {
                    <button class="nav-item nav-link" @onclick='() => selectedComponent = "createProduct"'>Vytvor produkt</button>
                    <button class="nav-item nav-link" @onclick='() => selectedComponent = "productView"'>Prehliadač produktov</button>
                }
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @if (_isUserLoggedIn)
                {
                    @if (selectedComponent == "messages")
                    {
                        <MessageView UserRole="@_userRole" />
                    }
                    else if (selectedComponent == "favorites")
                    {
                        <FavoritesView />
                    }
                    else if (selectedComponent == "createProduct" && _userRole == UserRole.Admin)
                    {
                        <ProductCreator />
                    }
                    else if (selectedComponent == "productView" && _userRole == UserRole.Admin)
                    {
                        <ProductView />
                    }
                }
                else
                {
                    <p>Please log in to view this page.</p>
                }
            </div>
        </div>
    </div>
</div>


@code {
    private bool _isUserLoggedIn;
    private UserRole _userRole;
    private string selectedComponent = "messages";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity != null)
            _isUserLoggedIn = user.Identity.IsAuthenticated;

        if (_isUserLoggedIn)
            _userRole = AuthenticationProvider.DetermineUserRole();
    }

    private async Task ToggleNavbar()
    {
	    await JSRuntime.InvokeVoidAsync("toggleNavbar", "navbarNav");
    }
}
