@page "/contact"

<body class="pic-back">
<div class="container">
	<div class="row">
		<div class="col-md-6 py-5">
				<form @onsubmit="HandleSubmit">
				@if (IsNameInvalid && NameTouched)
				{
					<div class="alert alert-danger" role="alert">
						Please enter a valid name (1 or 2 words with max 1 space and no numbers or special characters).
					</div>
				}
				<div class="mb-3">
					<label for="nameInput" class="form-label">Name:</label>
					<input type="text" class="form-control" id="nameInput" @bind="Name"/>
					<ValidationMessage For="@(() => Name)"/>
				</div>
				@if (IsTextInvalid && TextTouched)
				{
					<div class="alert alert-danger" role="alert">
						Please enter text in the field.
					</div>
				}
				<div class="mb-3">
					<label for="textInput" class="form-label">Text:</label>
					<textarea class="form-control" id="textInput" @bind="Text"></textarea>
					<ValidationMessage For="@(() => Text)"/>
				</div>

					<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="col-md-6">
			<div class="text-center py-5 bold">
				<h1>Kde nás nájdete</h1>
				<p>Poloha: Univerzitná 8215, 010 26 Žilina</p>
				<p>telefón: +4219123456789</p>
				<p>mail: info@vbsteel.sk</p>
				<p>Otváracie hodiny:</p>
				Pondelok: 7:00–15:00<br>
				Utorok: 7:00–15:00<br>
				Streda: 7:00–15:00<br>
				Štvrtok: 7:00–15:00<br>
				Piatok: 7:00–15:00<br>
				Sobota: zatvorené<br>
				Nedeľa: zatvorené
			</div>
		</div>
	</div>
</div>
</body>

@code {
	private string Name { get; set; }
	private string Text { get; set; }
	private bool NameTouched { get; set; }
	private bool TextTouched { get; set; }

	private bool IsNameInvalid => !IsValidName();
	private bool IsTextInvalid => !IsValidText();

	private bool IsValidName()
	{
		if (string.IsNullOrWhiteSpace(Name))
		{
			return false;
		}

		var words = Name.Trim().Split(' ');
		return words.Length is >= 1 and <= 2 && words.All(IsAlphaCharacters);
	}

	private bool IsAlphaCharacters(string value)
	{
		return !string.IsNullOrEmpty(value) && value.All(char.IsLetter);
	}

	private bool IsValidText()
	{
		return !string.IsNullOrWhiteSpace(Text);
	}

	private async Task HandleSubmit()
	{
		NameTouched = true;
		TextTouched = true;

		if (IsValidName() && IsValidText())
		{

		}
	}
}
