@page "/contact"

<body class="pic-back">
	<div class="container">
		<div class="text-center py-5 bold">
			<h1>Kde nás nájdete</h1>
			<p>Poloha: Univerzitná 8215, 010 26 Žilina</p>
			<p>telefón: +4219123456789</p>
			<p>mail: info@vbsteel.sk</p>
			<p>Otváracie hodiny:</p>
			Pondelok: 7:00–15:00<br>
			Utorok: 7:00–15:00<br>
			Streda: 7:00–15:00<br>
			Štvrtok: 7:00–15:00<br>
			Piatok: 7:00–15:00<br>
			Sobota: zatvorené<br>
			Nedeľa: zatvorené
		</div>
	</div>
</body>

@code {

}
