@page "/404"
@using VBSteel.Client.Layouts
@layout EmptyLayout

<div class="stretch-content-fullscreen error-visual-outer">
    <div>
        <h1 class="error-title">404</h1>
        <p class="error-message">The page you're looking for seems to have melted away...</p>
        <a class="error-link" href="/">Return to the Forge</a>
    </div>
</div>