@page "/formdatashowcase"
@using VBSteel.Shared
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<h3>FormDataShowcase</h3>

@if (formData != null)
{
	<div>
		<p>
			<label for="nameInput">Email:</label>
			<input id="nameInput" @bind="formData.Email" />
		</p>
		<p>
			<label for="textInput">Text:</label>
			<input id="textInput" @bind="formData.Message" />
		</p>

		<button @onclick="UpdateForm">Update</button>
		<button @onclick="DeleteForm">Delete</button>
	</div>
}
else
{
	<p>No data found</p>
}

@code {
	//todo:Prerobit podla novej DB architektury
	private Form formData;

	protected override async Task OnInitializedAsync()
	{
		formData = await HttpClient.GetFromJsonAsync<Form>("https://localhost:7280/api/Form/first");
	}

	private async Task UpdateForm()
	{
		if (formData != null)
		{
			var response = await HttpClient.PutAsJsonAsync($"https://localhost:7280/api/Form/updateForm/{formData.FormId}", formData);

			if (response.IsSuccessStatusCode)
			{
				NavigationManager.NavigateTo("/formdatashowcase", forceLoad: true);
			}
			else
			{
			}
		}
	}

	private async Task DeleteForm()
	{
		if (formData != null)
		{
			await HttpClient.DeleteAsync($"https://localhost:7280/api/Form/{formData.FormId}");
		}
	}
}
