@page "/products/{ProductName}"
@inject HttpClient HttpClient
@using VBSteel.Shared

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="@(Product != null ? $"data:image/{Product.ImageType};base64,{Convert.ToBase64String(Product.ImageData)}" : string.Empty)" alt="@Product?.Name">

		</div>
		<div class="col-md-6">
			<h1>@Product?.Name</h1>
		</div>
	</div>
	<div>
		<p>@Product?.Description</p>
		<a href="/contact" class="btn btn-primary">Contact Us</a>
	</div>
</div>

@code {
	//Todo loading
	[Parameter] public string? ProductName { get; set; }
	private ProductViewModel? Product { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Product = await HttpClient.GetFromJsonAsync<ProductViewModel>($"api/product/{ProductName}");
	}
}