@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationProvider AuthenticationProvider; 


<main>
	<div class="site-container">
		<nav class="navbar navbar-expand-lg menu">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img class="logo" src="images/icon.png" alt="Website Logo">
					VBSteel
				</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<NavLink class="nav-link" href="/">Produkty</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link" href="/about">O Nás</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link" href="/contact">Kontakt</NavLink>
						</li>
					</ul>
					<div class="d-flex">
						@if (isUserLoggedIn)
						{
							<NavLink class="btn btn-outline-primary ms-auto" href="/account">Účet</NavLink>
							<button class="btn btn-outline-success ms-2" @onclick="LogOut">Odhlasiť sa</button>
						}
						else
						{
							<button class="btn btn-outline-success ms-auto" @onclick="NavigateToLogin">Prihlásiť sa</button>
                            <NavLink class="btn btn-outline-primary ms-2" href="/register">Registrovať sa</NavLink>
						}
					</div>
				</div>
			</div>
		</nav>
		@Body
		<footer class="bg-dark text-light text-center py-3">
			&copy; @DateTime.Now.Year VBSteel. All rights reserved.
		</footer>
	</div>
</main>


@code {
	private bool isUserLoggedIn;

	protected override async Task OnParametersSetAsync()
	{
		var authState = await AuthenticationProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		isUserLoggedIn = user.Identity.IsAuthenticated;
	}
	
	private void NavigateToLogin()
	{
		var returnUrl = NavigationManager.Uri;
		NavigationManager.NavigateTo($"/login?returnUrl={Uri.EscapeDataString(returnUrl)}");
	}

	private async Task LogOut()
	{
		//todo:token expiration
		await AuthenticationProvider.MarkUserAsLoggedOut();

		isUserLoggedIn = false;
		NavigationManager.NavigateTo("/");
	}

}
