@page "/404"
@using VBSteel.Client.Layouts
@layout EmptyLayout

<div class="stretch-content-fullscreen error-visual-outer">
    <div>
        <h1 class="error-title">404</h1>
        <p class="error-message">Neočakávaný problém, prosím kontaktujte nás.</p>
        <a class="error-link" href="/contact">Kontakt</a>
    </div>
</div>